
.input-field.col label.star{
    left: 0;
    font-size: 15px;
    vertical-align: middle;
    padding-bottom: 0;
   
}


/* External Code Snippet provided by Kate Rose Morley.@
http://code.iamkate.com/html-and-css/star-rating-widget/#css */

.starRating:not(old){
  display        : inline-block;
  width          : 150px;
  height         : 20px;
  overflow       : hidden;
  vertical-align : center;
  margin-top     : 10px;  
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('/static/images/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('/static/images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}