/* General Typography */

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mild-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.no-line {
  text-decoration: none;
}


/* Flash Messages */

.flashes {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* White Space customisation */
/* removes whitespace between Top Nav and template headers */
.nav-wrapper {
  margin-bottom: 0;
}

.header-wrapper > h3 {
  margin-top: 0;
  padding-top: 15px;
  padding-left: 30px;
}

/* ------------------------------------ */

/* Target Top Nav Elements */

.brand-logo {
  margin-left: 12px;
}

.brand-logo > i {
  font-size: 1.2em;
}

@media only screen and (min-width: 992px) {
    .invesible-top {
    top: 65px;
    }	
}
/* ------------------------------------ */

/* Target Nav Search Box */

#top-navbar-search {
  position: relative;
  margin-left: 60px;
  width: 400px;
  border-bottom-color: black;
}

#top-navbar-search .search-wrapper i.fa-search {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}

/* ------------------------------------ */

/* Target Sidenav Materialize Elements */
.sidenav li > h5 {
  margin-left: 30px;
  color: white;
}

.sidenav li > a {
  font-size: 1.2em;
  color: white;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  margin: 0 10px 0 0;
  color: white;
}

/* .header-wrapper,
section,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  .header-wrapper,
  section,
  main,
  footer {
    padding-left: 0;
  }
} */

/* ------------------------------------ */

/* Target Sidenav Search Bar */

#side-navbar-search {
  margin-left: 30px;
  width: 240px;
  border-bottom-color: black;
}

#side-navbar-search {
  position: relative;
}

#side-navbar-search .search-wrapper i.fa-search {
  position: absolute;
  top: 19px;
  right: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}

/* ------------------------------------ */

/* Target Templates */

/* Default Templates */

.callout-wrapper {
  margin-top: 40px;
}

/* Target Logo Default Page */
i.fa-compact-disc > strong {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* ------------------------------------ */

/* Target Titles Page */

.card-wrapper {
  max-height: 550px; /* prevent mirage effect on desktop view */
}


/* Target Title Details Page */

#title-detail-wrapper {

 margin: 15px

}

.button-wrapper {
  margin-top: 30px;
}

.button-wrapper > a.btn-large {
  margin: 0px 5px 5px 0px;
}

.star-checked {
  color: gold;
}

/* ------------------------------------ */


/* Target Add Title Page */
.form-wrapper {
  margin-top: 40px;
}

#form-select-wrapper {
  padding-top: 40px;
}

.form-wrapper > div.row {
  margin-bottom:5px;
}

/* ------------------------------------ */