<!DOCTYPE html>

{% extends "base.html" %} {% block maincontent %}
<div class="container-fluid">
	<div class="callout-wrapper">
		<div class="row blue-grey-text text-shadow">
			<div class="col s12 m8 offset-m2">
				<div class="card-panel">
					<h4 class="center-align">
						Catalogue & Track your DVD or Bluray Collection using your Desktop,
						Tablet or Smart Phone
					</h4>
				</div>
			</div>
		</div>
        {% if session.user %}
        <div class="row">
			<div class="col s12 m8 offset-m2">
				<div class="card-panel blue-grey lighten-2 white-text text-shadow">
					<h2 class="center-align">
						<i class="fas fa-compact-disc"><strong> KJC Movies</strong></i>
					</h2>
				</div>
			</div>
		</div>
        {% else %}
        <div class="row blue-grey-text">
			<div class="col s12 m8 offset-m2">
				<div class="card-panel blue-grey">
					<h4 class="center-align">
                        <a href="{{ url_for('sign_up') }}"><strong class="lighten-2 white-text text-shadow">Get Started Now!</strong></a>						
					</h4>
				</div>
			</div>
		</div>
		<div class="row blue-grey-text text-shadow">
			<div class="col s6 m2 offset-m4 align-center">
				<div>
					<h1 class=" center-align">
						<a
							href="{{ url_for('sign_up') }}"><i class="fas fa-user-plus blue-grey-text text-shadow"></i></a>
					</h1>
				</div>
				<div>
					<h4 class="center-align">
						<a href="{{ url_for('sign_up') }}"><strong class="blue-grey-text">Sign Up!</strong></a>
					</h4>
				</div>
			</div>
			<div class="col s6 m2 align-center">
				<div>
					<h1 class=" center-align">
						<a
							href="{{ url_for('sign_in') }}"><i class="fas fa-sign-in-alt blue-grey-text text-shadow"></i></a>
					</h1>
				</div>
				<div>
					<h4 class="center-align">
						<a href="{{ url_for('sign_in') }}"><strong class="blue-grey-text">Sign In!</strong></a>
					</h4>
				</div>
			</div>
		</div>
        {% endif %}
	</div>

</div>
{% endblock %}