<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %}

<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
	<h3 class="left-align text-shadow">Edit Title</h3>
</div>
{% endblock %}

{% block maincontent %}

<div class="row card-body-wrapper">
	<form class="" method="POST" action="{{ url_for('edit_title', title_id=title._id) }}">
		<div class="col s12 m8 offset-m2 card-panel grey lighten-5 form-wrapper">
			<div class="row" id="form-select-wrapper">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-object-group prefix blue-grey-text text-darken-2"></i>
					<select id="library_name" name="library_name" class="validate" required>
                        <option value="" disabled selected>Choose Collection</option>
                        {% for library in libraries %}
                            {% if library.library_name  == title.library_name %}
                            <option value="{{ library.library_name }}" selected>{{ library.library_name|title }}</option>
                            {% else %}
                            <option value="{{ library.library_name }}">{{ library.library_name|title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="library_name">Collection</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fas fa-film prefix blue-grey-text text-darken-2"></i>
					<input id="title_name" name="title_name" minlength="2" maxlength="50"
                        value="{{ title.title_name|title }}" type="text" class="validate" data-length="50" required>
					<label for="title_name">Title Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-calendar-day prefix blue-grey-text text-darken-2"></i>
					<input id="release_year" name="release_year" minlength="4" maxlength="4"
                        pattern="^[0-9]{4,4}$" type="number" value="{{ title.release_year }}" class="validate" data-length="4">
					<label for="release_year">Release Year</label>
				</div>
			</div>

			<div class="row right-align">
				<div class="input-field button-wrapper col s10 offset-s2 m9 offset-m2 xl6 offset-xl5">
					<a href="" class="waves-effect waves-light red btn text-shadow">Reset</a>
					<button type="submit" name="imdb_search_btn" value="imdb_search_btn" class="waves-effect waves-light teal darken-1 btn text-shadow">
                        Search IMDB <i class="fas fa-search left"></i>
                    </button>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-align-left prefix blue-grey-text text-darken-2"></i>
					<textarea id="description" name="description" minlength="5"
                        maxlength="200" data-length="200" class="materialize-textarea validate">
                        {{-title.description-}} 
                        </textarea>
					<label for="description">Plot Description</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-theater-masks prefix blue-grey-text text-darken-2"></i>
					<input id="genre" name="genre" minlength="2" maxlength="100"
                        value="{{ title.genre|title  }}" data-length="100" type="text">
					<label for="genre">Genre</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-user-cog prefix blue-grey-text text-darken-2"></i>
					<input id="director" name="director" minlength="2" maxlength="30"
                        type="text" value="{{ title.director|title  }}" data-length="30" class="validate">
					<label for="director">Directors</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-users prefix blue-grey-text text-darken-2"></i>
					<input id="cast" name="cast" minlength="2" maxlength="150"
                        value="{{ title.cast|title }}" data-length="150" type="text">
					<label for="cast">Cast</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-clock prefix blue-grey-text text-darken-2"></i>
					<input id="duration" name="duration" minlength="1" maxlength="4" value="{{ title.duration }}"
                        pattern="^[0-9]{1,4}$" type="text" data-length="4" class="validate">
					<label for="duration">Duration Mins</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<i class="fas fa-image prefix blue-grey-text text-darken-2"></i>
					<input id="image_url" name="image_url" placeholder="http://" value="{{ title.image_url }}"
                    pattern="https?://.+" type="url" class="validate">
					<label for="image_url">Image URL</label>
				</div>
			</div>
		</div>

		<div class="col s12 m8 offset-m2 card-panel grey lighten-5">
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<div class="switch">
						<label for="is_watched">
                            {% if title.is_watched == "on" %}
                                <input type="checkbox" id="is_watched_selected" name="is_watched" checked>
                            {% else %}
                                <input type="checkbox" id="is_watched" name="is_watched">
                            {% endif %}
                            <span class="lever"></span>
                            Watched
                        </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m10 offset-m1">
					<div class="switch">
						<label for="is_bluray">
                            {% if title.is_bluray == "on" %}
                                <input type="checkbox" id="is_bluray_selected" name="is_bluray" checked>
                            {% else %}
                                <input type="checkbox" id="is_bluray" name="is_bluray">
                            {% endif %}
                            <span class="lever"></span>
                            Is Bluray
                        </label>
					</div>
				</div>
			</div>

            <!-- Placeholder Star Rating -->
            This is the value retrieved from mongoDB: {{ title.my_rating }}

			<div class="row">
				<div class="input-field col s6 m5 offset-m1">
					<i class="fas fa-euro-sign prefix blue-grey-text text-darken-2"></i>
					<input id="purchase_price" name="purchase_price" pattern="^\d+(?:\.\d{0,2})$"
                        value="{{ title.purchase_price }}" type="text" class="validate">
					<label for="purchase_price">Purchase Price</label>
				</div>
				<div class="input-field col s6 m4 offset-m1">
					<i class="fas fa-calendar-alt prefix blue-grey-text text-darken-2"></i>
					<input id="purchase_date" name="purchase_date" type="text" value="{{ title.purchase_date }}"
                        class="datepicker validate" >
					<label for="purchase_date">Purchase Date</label>
				</div>
			</div>
			<!-- submit button -->
			<div class="row">
				<div class="button-wrapper col s12 center-align">
					<a href="{{ url_for('get_titles', username=session['user']) }}"
						class="waves-effect waves-light btn-large red text-shadow">
						Cancel <i class="fas fa-times-circle right"></i>
					</a>

					<button type="submit" class="waves-effect waves-light btn-large blue-grey text-shadow" name="edit_title_btn" value="edit_title_btn">Update Title <i class="fas fa-edit right"></i>
                    </button>
				</div>
			</div>
			<div class="center-align">
				
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
        $("input[value='{{ title.my_rating }}']" ).prop("checked", true );            
    });
    
</script>
{% endblock %}