<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %}

<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
	<h3 class="left-align text-shadow">Manage Collections</h3>
</div>
{% endblock %}

{% block maincontent %} 

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_library') }}" class="waves-effect waves-light btn-large blue-grey lighten-2 text-white mild-shadow">
                <strong>Add Collection</strong> <i class="fas fa-plus-square right"></i>
                </a>
        </div>
    </div>


    <div class="row">
        {% for library in libraries %}
            <div class="col s10 offset-s1 m6 l4">
                <div class="card blue-grey darken-2 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ library.library_name|title }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_library', library_id=library._id) }}" class="waves-effect waves-light btn blue-grey lighten-2">Edit</a>
                        <a href="#" class="waves-effect waves-light btn red">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
