<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %} 

	<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
		<h3 class="left-align text-shadow">Sign Up</h3>
	</div>
{% endblock %}

{% block maincontent %}    
	<div class="row">
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
			<div class="card-panel">

                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-file-signature prefix blue-grey-text text-darken-2 tooltipped"
                        data-position="left" data-tooltip="Please enter your First and Last Name?"></i>
                        <input id="first_name" name="first_name" type="text" minlength="2" maxlength="16" 
                            pattern="^[a-zA-Z.']{2,16}$" class="validate" data-length="16" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" minlength="2" maxlength="16" 
                            pattern="^[a-zA-Z.']{2,16}$" class="validate" data-length="16" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
				<!-- username -->
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix blue-grey-text text-darken-2 tooltipped"
                        data-position="left" data-tooltip="Username must be a minimum of 4 characters!"></i>
						<input id="username" name="username" type="text" minlength="4" maxlength="20" 
                            pattern="^[a-zA-Z0-9.@$!%*#?&]{4,20}$" class="validate" data-length="20" required>
						<label for="username">Username</label>
					</div>
				</div>
				<!-- password -->
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-lock prefix blue-grey-text text-darken-2 tooltipped"
                        data-position="left" data-tooltip="Password must be a minimum of 5 characters!"></i>
						<input id="password" name="password" type="password" minlength="5" maxlength="20" 
                            pattern="^[a-zA-Z0-9.@$!%*#?&]{4,20}$" class="validate" data-length="20" required>
						<label for="password">Password</label>
					</div>
				</div>
				<!-- confirm password -->
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-check prefix blue-grey-text text-darken-2 tooltipped"
                        data-position="left" data-tooltip="Please Retype Password?"></i>
						<input id="confirm-password" name="confirm-password" type="password" minlength="5" maxlength="20" 
                            pattern="^[a-zA-Z0-9.@$!%*#?&]{4,20}$" class="validate"  data-length="20" required>
						<label for="confirm-password">Confirm Password</label>
					</div>
				</div>
				<!-- register -->
				<div class="row">
					<button type="submit" class="col s12 waves-effect waves-light btn-large blue-grey darken-2 text-shadow">
                        Sign Up! <i class="fas fa-sign-in-alt"></i>
                    </button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col s12">
				<p class="center-align blue-grey-text text-lighten-2">
					Already Registered?
					<a href="{{ url_for('sign_in') }}" class="blue-grey-text text-darken-2"><strong>Sign In Here!</strong></a>
				</p>
			</div>
	    </div>
    </div>



{% endblock %}