<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %} 

	<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
		<h3 class="left-align text-shadow">Sign In</h3>
	</div>
{% endblock %}

{% block maincontent %}    
	<div class="row">
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_in') }}">
			<div class="card-panel">
				<!-- username -->
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix blue-grey-text text-darken-2 tooltipped"
	                        data-position="left" data-tooltip="Username must be a minimum of 4 characters!"></i>
						<input id="username" name="username" type="text" minlength="4" maxlength="20"
	                            pattern="^[a-zA-Z0-9.@$!%*#?&]{4,20}$" class="validate" data-length="20" required>
						<label for="username">Username</label>
					</div>
				</div>
				<!-- password -->
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-lock prefix blue-grey-text text-darken-2 tooltipped"
	                        data-position="left" data-tooltip="Password must be a minimum of 5 characters!"></i>
						<input id="password" name="password" type="password" minlength="5" maxlength="20"
	                            pattern="^[a-zA-Z0-9.@$!%*#?&]{4,20}$" class="validate" data-length="20" required>
						<label for="password">Password</label>
					</div>
				</div>
				<!-- sign in -->
				<div class="row">
					<button type="submit" class="col s12 btn-large blue-grey darken-2 text-shadow">
	                        Sign In! <i class="fas fa-sign-in-alt"></i>
	                    </button>
				</div>
			</div>
		</form>
	
		<div class="row">
			<div class="col s12">
				<p class="center-align blue-grey-text text-lighten-2">
					Not Registered Yet?
					<a href="{{ url_for('sign_up') }}"
						class="blue-grey-text text-darken-2"><strong>Sign Up Now!</strong></a>
				</p>
			</div>
		</div>
	</div>




{% endblock %}