<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

 <h2>Validate template inheritance</h2>


 {% for title in titles %}
 {{ title.title_name }}<br>
 {{ title.library_name }}<br>
 {{ title.release_year }}<br>
 {{ title.genre }}<br>
 {{ title.duration }}<br>
 {{ title.title_description }}<br>
 {{ title.director }}<br>
 {{ title.cast }}<br>
 {{ title.image_url }}<br>
 {{ title.is_watched }}<br>
 {{ title.is_bluray }}<br>
 {{ title.my_rating }}<br>
 {{ title.purchase_price }}<br>
 {{ title.purchase_date }}<br>
 {{ title.created_by }}<br>
 {% endfor %}

{% endblock %}