<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %}

<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
    <h3 class="left-align text-shadow">
        <a href="{{ url_for('get_titles', username=session['user']) }}"	class="waves-effect waves-light blue-grey-text text-shadow">
        <i class="fas fa-chevron-left pad-bot"></i></a>
          Title Detail
        </h3>
</div>
{% endblock %}

{% block maincontent %}
<div class="row" id="title-detail-wrapper">
	<div class="col s12 card-panel grey lighten-5">

		<div class="row ">
			<div class="col m3 hide-on-small-only">
				<div class="card">
					<div class="card-image">
						{% if title.image_url %}
                        <img src="{{ title.image_url }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default_image.jpg') }}">
                        {% endif %}
                    </div>
				</div>
				</div>
				<div class="col m8 offset-m1 align-left mild-shadow">
					<div class="row">
						<div class="col s12">
							<h4 class="blue-grey-text text-darken-1">
								<strong>{{ title.title_name.title() }} ({{ title.release_year }})</strong>
							</h4>
							<hr>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Collection:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								{{ title.library_name.title() }}
							</h5>
						</div>

						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Genre:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								{{ title.genre.title()}}
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Duration:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								{{ title.duration }} mins
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Plot:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
                                <!-- jinga string filter -->
								{{ title.description }}
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Directors:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								{{ title.director.title() }}
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								Cast:
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								{{ title.cast.title() }}
							</h5>
						</div>
					</div>
				</div>

			</div>
			<div class="row mild-shadow">
				<div class="col s12">
					<hr>
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							Is Watched?
						</h5>
					</div>
					<div class="col s6 m1">
						{% if title.is_watched == "on" %}
						<h5 class="teal-text text-lighten-1">
							<i class="fas fa-eye"></i>
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="fas fa-eye-slash"></i>
						</h5>
						{% endif %}
					</div>
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							Is Bluray?
						</h5>
					</div>
					<div class="col s6 m3">
						{% if title.is_bluray == "on" %}
						<h5 class="teal-text text-lighten-1">
							<i class="fas fa-check-circle"></i> bluray
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="fas fa-times-circle"></i> dvd only
						</h5>
						{% endif %}
					</div>
				</div>


				<div class="col s12">
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							My Rating
						</h5>
					</div>

                    <!-- Basic Star Update Logic -->
					<div class="col s6 m8">
						{% if title.my_rating == "0" %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</h5>
						{% elif title.my_rating == "1" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "2" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "3" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "4" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "5" %}
						<h5 class="yellow-text text-darken-1">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-darken-1">Not Rated Yet!</h5>
						{% endif %}
					</div>


					<div class="col s6 m5 offset-m1 l3 offset-l1 blue-grey-text text-lighten-2">
						<h5 class="">
							Purchase Price:
						</h5>
					</div>
					<div class="col s6 m6 l2 blue-grey-text text-darken-1">
						<h5 class="">
							<i class="fas fa-euro-sign"></i> {{ title.purchase_price }}
						</h5>
					</div>
					<div class="col s6 m5 offset-m1 l3 blue-grey-text text-lighten-2">
						<h5 class="">
							Purchase Date:
						</h5>
					</div>
					<div class="col s6 m6 l3 blue-grey-text text-darken-1">
						<h5 class="">
							{{ title.purchase_date }}
						</h5>
					</div>
				</div>
			</div>

			<!-- Edit & Return buttons -->

			<div class="row">
				<div class="col s12 center-align text-white text-shadow">
					<hr>
					<!-- Return button -->

					<div class="col s10 button-wrapper offset-s1">

                        <!-- Delete button with Modal Trigger -->
						<a href="#modal1" class="waves-effect waves-light btn-large red darken-1 modal-trigger">
							Delete Title <i class="far fa-trash-alt right"></i>
						</a>
            
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal white no-shadow">
                            <div class="modal-content">
                            <h4 class="red-text text-darken-4">Warning <i class="fas fa-exclamation-circle"></i></h4>

                            <h6><strong>You are about to delete this title from your collection.<br> This cannot be undone!!</strong></h6>
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-light btn red">Cancel</a>
                            <a href="{{ url_for('delete_title', title_id=title._id) }}" class="modal-close waves-effect waves-light btn ">Delete Title</a>
                            </div>
                        </div>

                        <!-- Edit button -->
						<a href="{{ url_for('edit_title', title_id=title._id) }}" class="waves-effect waves-light btn-large blue-grey darken-1 ">
							Edit Title <i class="fas fa-edit right"></i>
						</a>



					</div>

				</div>
			</div>
		</div>
	</div>

	{% endblock %}