<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %}

<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
	<h3 class="left-align text-shadow">All Titles</h3>
</div>
{% endblock %}

{% block maincontent %}

<div class="row">
	{% for title in titles %}
        <div class="col m3 hide-on-small-only">
            <div class="card">
                <div class="card-image">
                    <img src="{{ title.image_url }}">
                    <a href="#"></a>
                </div>
                <div class="card-title center-align text shadow"><strong class="blue-grey-text">{{ title.title_name }}</strong>
                </div>
            </div>
        </div>
        <div class="col s12 hide-on-med-and-up">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ title.image_url }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ title.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="#"><strong class="blue-grey-text">{{ title.title_name }}</strong></a>
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}
</div>

{% endblock %}