<!DOCTYPE html>

{% extends "base.html" %} {% block headercontent %}

<div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
	<h3 class="left-align text-shadow">Title Detail</h3>
</div>
{% endblock %}

{% block maincontent %}
<div class="row" id="title-detail-wrapper">
	<div class="col s12 card-panel grey lighten-5">

		<div class="row ">
			<div class="col m3 hide-on-small-only">
				<div class="card">
					<div class="card-image">
						{% if title.image_url %}
                        <img src="{{ title.image_url }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default_image.jpg') }}">
                        {% endif %}
                    </div>
				</div>
				</div>
				<div class="col m8 offset-m1 align-left mild-shadow">
					<div class="row">
						<div class="col s12">
							<h4 class="blue-grey-text text-darken-1">
								<strong>{{ title.title_name.title() }} ({{ title.release_year }})</strong>
							</h4>
							<hr>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Collection:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								<strong>{{ title.library_name.title() }}</strong>
							</h5>
						</div>
						<!-- <div class="col s3">
					<h5 class="blue-grey-text text-lighten-2">
						<strong>Year:</strong>
					</h5>
				</div>
				<div class="col s9">
					<h5 class="blue-grey-text text-darken-1">
						<strong>{{ title.release_year }}</strong>
					</h5>
				</div> -->
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Genre:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								<strong>{{ title.genre.title()}}</strong>
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Duration:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								<strong >{{ title.duration }} mins</strong>
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Plot:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
                                <!-- jinga string filter -->
								{{ title.description }}
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Director:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								<strong >{{ title.director.title() }}</strong>
							</h5>
						</div>
						<div class="col s3">
							<h5 class="blue-grey-text text-lighten-2">
								<strong>Cast:</strong>
							</h5>
						</div>
						<div class="col s9">
							<h5 class="blue-grey-text text-darken-1">
								<strong >{{ title.cast.title() }}</strong>
							</h5>
						</div>
					</div>
				</div>

			</div>
			<div class="row mild-shadow">
				<div class="col s12">
					<hr>
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							<strong>Is Watched?</strong>
						</h5>
					</div>
					<div class="col s6 m1">
						{% if title.is_watched == "on" %}
						<h5 class="teal-text text-lighten-1">
							<i class="fas fa-eye"></i>
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="fas fa-eye-slash"></i>
						</h5>
						{% endif %}
					</div>
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							<strong>Is Bluray?</strong>
						</h5>
					</div>
					<div class="col s6 m3">
						{% if title.is_bluray == "on" %}
						<h5 class="teal-text text-lighten-1">
							<i class="fas fa-check-circle"></i> bluray
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="fas fa-times-circle"></i> dvd only
						</h5>
						{% endif %}
					</div>
				</div>


				<div class="col s12">
					<div class="col s6 m3 offset-m1">
						<h5 class="blue-grey-text text-lighten-2">
							<strong>My Rating</strong>
						</h5>
					</div>

                    <!-- Basic Star Update Logic -->
					<div class="col s6 m8">
						{% if title.my_rating == "0" %}
						<h5 class="blue-grey-text text-lighten-2">
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</h5>
						{% elif title.my_rating == "1" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "2" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "3" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "4" %}
						<h5 class="">
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="fas fa-star yellow-text text-darken-1"></i>
							<i class="far fa-star blue-grey-text text-lighten-2"></i>
						</h5>
						{% elif title.my_rating == "5" %}
						<h5 class="yellow-text text-darken-1">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</h5>
						{% else %}
						<h5 class="blue-grey-text text-darken-1">Not Rated Yet!</h5>
						{% endif %}
					</div>


					<div class="col s6 m5 offset-m1 l3 offset-l1 blue-grey-text text-lighten-2">
						<h5 class="">
							<strong>Purchase Price:</strong>
						</h5>
					</div>
					<div class="col s6 m6 l2 blue-grey-text text-darken-1">
						<h5 class="">
							<i class="fas fa-euro-sign"></i> {{ title.purchase_price }}
						</h5>
					</div>
					<div class="col s6 m5 offset-m1 l3 blue-grey-text text-lighten-2">
						<h5 class="">
							<strong>Purchase Date:</strong>
						</h5>
					</div>
					<div class="col s6 m6 l3 blue-grey-text text-darken-1">
						<h5 class="">
							{{ title.purchase_date }}
						</h5>
					</div>
				</div>
			</div>

			<!-- Edit & Return buttons -->

			<div class="row">
				<div class="col s12 center-align text-white text-shadow">
					<hr>
					<!-- Return button -->

					<div class="col s10 button-wrapper offset-s1">
						<a href="{{ url_for('get_titles', username=session['user']) }}"
							class="btn-large teal text-shadow">
							Return <i class="fas fa-undo right"></i>
						</a>

						<!-- Edit button -->
						<a href="{{ url_for('edit_title', title_id=title._id) }}" class="btn-large blue-grey darken-1 ">
							Edit Title <i class="fas fa-edit right"></i>
						</a>

                        <!-- Delete button -->
						<a href="" class="btn-large red darken-1 ">
							Delete Title <i class="far fa-trash-alt right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	{% endblock %}