<!DOCTYPE html>
{% extends "base.html" %} {% block headercontent %} 

    <div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
    <h3 class="left-align text-shadow">User Profile</h3>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="row blue-grey-text text-lighten-1">
        <div class="col s10 offset-s1 ">
            <div class="card-panel">
                <h3 class="center-align text-shadow">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
        <div class="row white-text t">
        <div class="col s10 offset-s1 ">
            <div class="center-align text-shadow card-panel blue-grey lighten-2">
                <h5>Total Number of User Collections: {{ library_count }}<i class="fas fa-object-group left"></i></h5>
                <h5>Total Number of User Titles: {{ titles_count }}<i class="fas fa-film left"></i></h5>
            </div>
        </div>
    </div>
{% endblock %}
