<!DOCTYPE html>
{% extends "base.html" %} {% block headercontent %} 

    <div class="row header-wrapper blue-grey lighten-4 blue-grey-text text-lighten-1">
    <h3 class="left-align text-shadow">User Profile</h3>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="row blue-grey-text text-lighten-1">
        <div class="col s8 offset-s2 ">
            <div class="card-panel">
                <h3 class="center-align text-shadow">
                    User Profile
                </h3>
            </div>
        </div>
    </div>
        <div class="row white-text t">
        <div class="col s8 offset-s2 ">
            <div class="center-align text-shadow card-panel blue-grey lighten-2">
                <h4>User Collections<i class="fas fa-object-group left"></i></h4>
                <h4>User Titles<i class="fas fa-film left"></i></h4>
            </div>
        </div>
    </div>
{% endblock %}
